extends base

mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}

block header
    include _navigation
block content
    main.main
        .user-view
            .user-view__content.u-center-text
                h2.heading-secondary--form.ma-bt-md Enter new password
                .user-view__form-container
                    form.form.form-reset-password
                        .form__group
                            label.form__label(for='password') New password
                            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group.ma-bt-lg
                            label.form__label(for='password-confirm') Confirm password
                            input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                            input#resetUrl.form__input(type='hidden', placeholder='••••••••', value= `${url}`)
                        .form__group.right
                            button.btn.btn--small.btn--blue_form.btn--save-password Save password

